PORT=
NODE_ENV=
MASOMG=
DATABASE_PASSWORD=
DATABASE_USERNAME=
DATABASE=



JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=


EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=


SENDGRID_USERNAME=
SENDGRID_PASSWORD=